*, :after, :before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* background-color: #6495ed; */
    background: linear-gradient(157deg, rgba(100,149,237,1) 0%, rgb(38, 79, 156) 100%);;
}

.content {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

/* .container{
    width: 90%;
    background-color: red;
} */

.form{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .5em;
    padding: 1.5em;
    /* backdrop-filter: blur(15px); */
}

input{
    border: none;
    border-radius: .4em;
}

input[type='submit']{
    padding: .5em 2em;
    cursor: pointer;
    background-color: rgb(166, 111, 255);
    color: white;
}

input[type='submit']:hover{
    background-color: rgb(141, 88, 226);
}

input[type='text']{
    padding: .5em;
}

datalist{
    background-color: white;
}

.form > form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form > form > div:not(:last-child){
    /* margin-bottom: 1em; */
    margin-right: 1em;
}

#form-result{
    width: 100%;
    padding: 1em 0;
    color: white;
}

#form-result > div{
    width: 50%;
    margin: 0 auto;
    /* font-size: 2rem; */
}

.temp-result{
    font-size: 3rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .5rem;
}

.temp-result, .addit-result{
    padding: 1rem;
}

.addit-result{
    font-size: 1rem;
}

.addit-result > span{
    display: block;
}

.addit-result .name-result{
    /* font-size: 1.3rem; */
    font-weight: bold;
    /* text-align: center; */
}

/* .result-temp{
    width: 100%;
    text-align: center;
} */